<% flash.each do |key, value| %>
    <div class="flash <%= key %>"><%= value %></div>
  <% end %>
<% unless session[:user_id] %>
  <%= form_tag sessions_path do %>
    <div class="field">
      <%= label_tag :email %><br />
      <%= text_field_tag :email, params[:email] %>
    </div>
    <div class="field">
      <%= label_tag :password %><br />
      <%= password_field_tag :password %>
    </div>
    <div class="actions"><%= submit_tag "Log In" %></div>
  <% end %>
<% else %>
  <div class="row" style="max-width: 100%;">
    <div class="medium-4 large-4 columns widget" style="background: #364B85;">
      <div style="display:table-cell; vertical-align: middle">f</div>
    </div>
    <div class="medium-4 large-4 columns widget" style="background: #4099FF;">
      <div style="display:table-cell; vertical-align: middle">t</div>
    </div>
    <div class="medium-4 large-4 columns widget" >
      <div style="width: 50%; display:table-cell; vertical-align: top; border-right:1px solid black;">
        <%= image_tag "rain.png", style: "margin: auto;" %>
        <div style="text-align: right; font-size: 0.2em;">25&deg;</div>
      </div>
      <div style="display:table-cell; vertical-align: middle; border-left: 1px solid black;">w</div>
    </div>
  </div>
  <div class="row" style="max-width: 100%;">
    <div class="medium-4 large-4 columns widget" style="background: #364B85;">
      <div style="display:table-cell; vertical-align: middle">f</div>
    </div>
    <div class="medium-4 large-4 columns widget" style="background: #4099FF;" >
      <div style="display:table-cell; vertical-align: middle">t</div>
    </div>
    <div class="medium-4 large-4 columns widget" >
      <%= image_tag "YouTube-logo-full_color.png", style: "width: 80%;" %>
    </div>
  </div>
  <div class="row" style="max-width: 100%;">
    <div class="medium-4 large-4 columns widget" style="background: #364B85;">
      <div style="display:table-cell; vertical-align: middle">f</div>
    </div>
    <div class="medium-4 large-4 columns widget" style="background: #4099FF;">
      <div style="display:table-cell; vertical-align: middle">t</div>
    </div>
    <div class="medium-4 large-4 columns widget" >
      <div class="flipper" style="display:table-cell; vertical-align: middle;">
      <div class="youtube">
      <%= image_tag "YouTube-logo-full_color.png"  %>
      </div>
      <iframe name="youtube" src="http://www.youtube.com/embed/videoseries?list=PL426831BC08A165DC" frameborder="0"  height="20px" width="100%"></iframe>
    </div>
    </div>
  </div>
  <div class="row" style="max-width: 100%;">
    <div class="medium-4 large-4 columns widget" style="background: #364B85;">
      <div style="display:table-cell; vertical-align: middle">f</div>
    </div>
    <div class="medium-4 large-4 columns widget" style="background: #4099FF;">
      <div style="display:table-cell; vertical-align: middle">t</div>
    </div>
    <div class="medium-4 large-4 columns widget" >
      <div style="display:table-cell; vertical-align: middle">w</div>
    </div>
  </div>
  <div class="row" style="max-width: 100%;">
    <div class="medium-4 large-4 columns widget" style="background: #364B85;">
      <div style="display:table-cell; vertical-align: middle">f</div>
    </div>
    <div class="medium-4 large-4 columns widget" >
      <div style="display:table-cell; vertical-align: middle">t</div>
    </div>
    <div class="medium-4 large-4 columns widget" >
      <div class="flipper" style="display:table-cell; vertical-align: middle;">
      <div class="youtube">
      <%= image_tag "YouTube-logo-full_color.png"  %>
      </div>
      <iframe name="youtube" src="http://www.youtube.com/embed/videoseries?list=PL426831BC08A165DC" frameborder="0"  height="20px" width="100%"></iframe>
    </div>
    </div>
  </div>
<% end %>

