// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.widget {
border: 1px solid #565656;
display: table;
vertical-align: middle;
text-align: center;
padding: 0px;
font-size: 10em;
perspective: 800px;
transform-style: preserve-3d;

}
iframe {
display: block;
position: absolute;
top:0;
left:0;
z-index: -1;
}
.flipper {
position: absolute;
top:0;
left:0;
width: 100%;
height: 100%;
transition: 0.6s;
-webkit-transition: 0.6s;
transform-style: preserve-3d;
-webkit-transform-style: preserve-3d;
}
.widget:hover iframe{
transform: rotateY(0deg);
-webkit-transform: rotateY(0deg);

}

.widget:hover .youtube {
transform: rotateY(180deg);
-webkit-transform: rotateY(180deg);
}

.flipper iframe {
transform: rotateY(-180deg);
-webkit-transform: rotateY(-180deg);
}
.flipper iframe, .youtube {
backface-visibility: hidden;
transition: 0.6s;
-webkit-transition: 0.6s;
transform-style: preserve-3d;
-webkit-transform-style: preserve-3d;
}

.youtube {
background: #4099FF;
z-index: 2;
width: 100%;
height: 100%;
margin: auto;
transform: rotateY(0deg);
-webkit-transform: rotateY(0deg);
}

