<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= csrf_meta_tags %>
</head>

<body>
    <nav class="top-bar">
      <ul class="title-area">
        <li class="name">
          <h1><%= link_to "MyApp" %></a></h1>
        </li>
      </ul>
      <section class="top-bar-section">
        <ul class="right">
          <li><%= link_to "About Us" %></li>
          <li class="divider"></li>
          <li><%= link_to "My Account" %></li>
          <li class="divider"></li>
          <li><%= link_to fa_icon("cog 2x"), "users#show"%></li>
        </ul>
      </div>
    </nav>

<%= yield %>

    <%= javascript_include_tag "application" %>
  </body>
</html>
